@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU+Guides&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Buda:wght@300&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";
.playwrite{
  font-family: "Playwrite CU Guides", cursive;
  font-weight: 400;
  font-style: normal;

}
font{
font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.buda{

 font-family: "Buda", serif;
  font-weight: 300;
  font-style: normal;
}
.gravitas {
  font-family: "Gravitas One", serif;
  font-weight: 400;
  font-style: normal;
}



